@import "../../App";
.o2auth-provider{

  border-radius: 50px;

  background-color: var(--color-text-primary) !important;
}


/*
.social-svg-mask {
  fill: var(--color-primary) !important;
}
.social-svg-icon {
  fill: var(--color-text-primary) !important;
}
*/
