@import "../../index";


.navbar{
  background-color: var(--color-secondary) !important;
}
.active {
  font-weight: bold;
}

$nav-icon-width:20px;

.toggler-icon {
  width: $nav-icon-width;
  height: calc(#{$nav-icon-width}/2);
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.toggler-icon span {
  display: block;
  position: absolute;
  height: calc(#{$nav-icon-width}/10);
  width: 100%;
  background: var(--color-primary) !important;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.toggler-icon span:nth-child(1) {
  top: calc(#{$nav-icon-width}*0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.toggler-icon span:nth-child(2) {
  top: calc(#{$nav-icon-width}*0.4);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.toggler-icon span:nth-child(3) {
  top: calc(#{$nav-icon-width}*0.8);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.toggler-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: calc(-#{$nav-icon-width}*0.09);
  left: -1px;
}

.toggler-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.toggler-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: calc(#{$nav-icon-width}*0.7);
  left: 0px;
}

.fa-sign-out-alt,.fa-cog{
  color: var(--color-primary);
}


$navbar-height:4rem;

.navbar{
  height: $navbar-height !important;
}

* {
  scroll-margin-top: calc(#{$navbar-height} + 1rem);
}