@import "../../index";


:export{
  color-background:var(--color-background);
}


.loadingWrapper {
  margin-top: 35vh;

}

.loadingWrapper * {
  border-color: var(--color-primary) !important;
}

.loadingMessage {
  display: block;
  text-align: center;
  color: var(--color-text-main) !important;
  padding: 1em;
  word-break: break-all;
}

.loadingBackground {
  position: fixed;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-background);
  opacity: 0.9;
  z-index: 9999999999999999999;
}
