$color-primary:#4285f4;
$color-secondary:#333333;
$color-background:#F7F7F7;
$color-light-grey:#d3d3d2;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.visible {
  display: block;
}

.hidden {
  display: none;
}
